.wrapper1 {
    background-image: url('../../assets/images/crypto-bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 500px;
    margin-bottom: 1rem;
}
.wrapper2 {
    background-image: url('../../assets/images/ppe.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 500px;
    margin-bottom: 1rem;
}
.wrapper3 {
    background-image: url('../../assets/images/gift-cards.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 500px;
    margin-bottom: 1rem;
}